<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos :: imports-css(title='Funcionários')}">
        <title>...</title>
    </head>
    <body>
        <div th:replace="~{fragmentos :: barramenu(pagina='funcionarios')}"></div>
        
        <div class="container" style="margin-top: 20px;">
            <div class="card-header">
                <h4>
                    Funcionários Cadastrados
                    <a class="btn btn-primary float-right" th:href="@{~/funcionarios/funcionario}" 
                   role="button">Novo Funcionário</a>
                </h4>
            </div>
            
            <div class="card" th:each="func : ${funcionarios}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${func.nome}"></h5>
                    <div class="card-text" th:text="'Email: '+${func.email}"></div>
                    <div class="card-text" th:text="'Telefone: '+${func.telefone}"></div>
                    <div class="card-text" th:text="'CPF: '+${func.cpf}"></div>
                    <div class="card-text" th:text="'Endereço: '+${func.endereco}"></div>
                </div>
                <div class="card-body">
                        <a th:href="@{'~/funcionarios/funcionario/'+${func.id}}" class="btn btn-warning">Editar</a>
                        <a th:href="@{'~/funcionarios/'+${func.id}+'/deletar'}" class="btn btn-danger" 
                           onclick="return confirm('Deseja realmente excluir esse Funcionário?')">Excluir</a>
                </div>
            </div>
        </div>
        
        <div th:replace="~{fragmentos :: imports-js}"></div>
    </body>
</html>